Repository timsmr/my_bachelor_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbqa-black, nbqa-autoflake, nbqa-isort

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --max-line-length=88
  - --ignore=E203, W503

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile=black
  - --filter-files
  - -m=3

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --follow-imports=silent
  - --disallow-untyped-defs
  - --ignore-missing-imports

nbqa-black:
  name: nbqa-black
  entry: nbqa black
  language: system
  args:
  - --nbqa-mutate

nbqa-autoflake:
  name: nbqa-autoflake
  entry: nbqa autoflake
  language: system

nbqa-isort:
  name: nbqa-isort
  entry: nbqa isort
  language: system

pre-commit fixes
  src/database/config.py
  src/database/crud.py
  src/database/database.py
  src/helpers/helpers.py
  src/main.py
  src/services/config.py
  src/services/video_loader.py
  src/services/video_processer.py
Due: black, flake8, isort, mypy

pre-commit fixes
  src/database/crud.py
  src/helpers/helpers.py
  src/services/config.py
  src/services/video_loader.py
  src/services/video_processer.py
Due: black, flake8, isort, mypy

fix docker issues
  .gitignore
  Dockerfile
  poetry.lock
  pyproject.toml
  src/database/crud.py
  src/database/database.py
  src/database/model.py
  src/services/video_loader.py
  src/services/video_processer.py
Due: black, flake8, isort, mypy

fix .gitignore
  .gitignore
Due: none

add train report notebook
  notebooks/reports/yolo_train_pipeline.ipynb
Due: nbqa-black, nbqa-autoflake, nbqa-isort

update Readme.md
  README.md
Due: none

delete inner config class
  src/database/config.py
Due: black, flake8, isort, mypy

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbqa-black: any of: \.ipynb$, but not: notebooks/chaos
  nbqa-autoflake: any of: \.ipynb$, but not: notebooks/chaos
  nbqa-isort: any of: \.ipynb$, but not: notebooks/chaos
